@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --gradient: #00416A;
    --background: 216 100% 98.42%;
    --foreground: 216 10% 0.84%;

    --muted: 216 10% 92.1%;
    --muted-foreground: 216 5% 42.1%;

    --popover: 216 10% 92.1%;
    --popover-foreground: 216 10% 1.05%;

    --card: 216 10% 92.1%;
    --card-foreground: 216 10% 1.05%;

    --border: 216 15% 89.84%;
    --input: 216 15% 89.84%;

    --primary: 216 100% 21%;
    --primary-foreground: 216 2% 92.1%;

    --secondary: 216 5% 96.05%;
    --secondary-foreground: 216 7% 12.1%;

    --accent: 216 5% 96.05%;
    --accent-foreground: 216 7% 12.1%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --ring: 216 100% 21%;
    --radius: 0.5rem;

    --danger: 0 84% 60%;
  }

  .dark {
    --gradient: #00d2ff;

    --background: 203 65% 4%;
    --foreground: 203 10% 97.5%;

    --muted: 203 50% 15%;
    --muted-foreground: 203 10% 55%;

    --popover: 203 45% 6.5%;
    --popover-foreground: 203 10% 97.5%;

    --card: 203 45% 6.5%;
    --card-foreground: 203 10% 97.5%;

    --border: 203 50% 15%;
    --input: 203 50% 15%;

    --primary: 203 100% 50%;
    --primary-foreground: 203 10% 5%;

    --secondary: 203 50% 15%;
    --secondary-foreground: 203 10% 97.5%;

    --accent: 203 50% 15%;
    --accent-foreground: 203 10% 97.5%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 203 10% 97.5%;

    --ring: 203 100% 50%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }

  #root {
    @apply min-h-screen;
  }
}